(MSG_USE_J_BASE+1-1), "使用方法: wtouch [<ｵﾌﾟｼｮﾝ>] <ﾌｧｲﾙ名>"
(MSG_USE_J_BASE+2-1), "ｵﾌﾟｼｮﾝ: ('/'はオプション指定の際の'-'の替わりとして使用します)"
(MSG_USE_J_BASE+3-1), "         -c         存在しないファイルは作成されません"
(MSG_USE_J_BASE+4-1), "         -i         <ﾌｧｲﾙ名>をタッチする前にタイムスタンプをインクリメントします"
(MSG_USE_J_BASE+5-1), "         -r         読み込み専用ファイルであっても、ﾀｲﾑｽﾀﾝﾌﾟを書き換えます。"
(MSG_USE_J_BASE+6-1), "         -d <日付>  タイム・スタンプの日付部分を明示指定します"
(MSG_USE_J_BASE+7-1), "         -f <ﾌｧｲﾙ>  <ﾌｧｲﾙ>からの日付時間を使用します"
(MSG_USE_J_BASE+8-1), "         -t <時間>  タイム・スタンプの時間部分を明示指定します"
(MSG_USE_J_BASE+9-1), "         -u         USAの日付時間フォーマットを使用します"
(MSG_USE_J_BASE+10-1), "         -q         情報メッセージを抑制します"
(MSG_USE_J_BASE+11-1), "         -?         このヘルプ画面を表示します"
(MSG_USE_J_BASE+12-1), "."
