(MSG_USE_J_BASE+1-1), "使用方法: wstrip [options] input_file [output_file] [info_file]"
(MSG_USE_J_BASE+2-1), "オプション: (/ｵﾌﾟｼｮﾝ も受け付けます)"
(MSG_USE_J_BASE+3-1), "        -q     メッセージを表示しません"
(MSG_USE_J_BASE+4-1), "        -n     警告メッセージを表示しません"
(MSG_USE_J_BASE+5-1), "        -r     デバッグ情報ではなく、リソース情報を処理します"
(MSG_USE_J_BASE+6-1), "        -a     情報削除ではなく、情報付加をします"
(MSG_USE_J_BASE+7-1), ""
(MSG_USE_J_BASE+8-1), "        input_file:  実行可能ファイル"
(MSG_USE_J_BASE+9-1), "        output_file: オプションで出力実行可能ファイルまたは '.'を指定可能"
(MSG_USE_J_BASE+10-1), "        info_file:   オプションでデバッグまたはリソース情報ファイルの出力又は"
(MSG_USE_J_BASE+11-1), "                     入力を指定可能"
(MSG_USE_J_BASE+12-1), "."
