(MSG_USE_E_BASE+1-1), "Usage:   wtouch [<options>] <file_names>"
(MSG_USE_E_BASE+2-1), "Options: ('/' may be used instead of '-' to specify options)"
(MSG_USE_E_BASE+3-1), "         -c         do not create files that do not exist"
(MSG_USE_E_BASE+4-1), "         -i         increment time stamp before touching <file_names>"
(MSG_USE_E_BASE+5-1), "         -r         touch file even if it is marked read only"
(MSG_USE_E_BASE+6-1), "         -s         recurse through subdirectories"
(MSG_USE_E_BASE+7-1), "         -d <date>  specify date part of the time-stamp explicitly"
(MSG_USE_E_BASE+8-1), "         -f <file>  use date-time from <file>"
(MSG_USE_E_BASE+9-1), "         -t <time>  specify time part of the time-stamp explicitly"
(MSG_USE_E_BASE+10-1), "         -u         use USA date/time format regardless of country"
(MSG_USE_E_BASE+11-1), "         -q         suppress informational messages"
(MSG_USE_E_BASE+12-1), "         -?         display this help screen"
(MSG_USE_E_BASE+13-1), "."
