(MSG_USE_J_BASE+1-1), "使用方法:  wmake [options]* [macro=text]* [target]*"
(MSG_USE_J_BASE+2-1), "オプション:  ('/'は'-'で,'='は'#'で代用する事ができます)"
(MSG_USE_J_BASE+3-1), "-a 全ﾀｰｹﾞｯﾄを作成します(ﾀｲﾑ･ｽﾀﾝﾌﾟを無視)  -b すべての暗黙ﾙｰﾙを無視します"
(MSG_USE_J_BASE+4-1), "-c 作られたﾌｧｲﾙがあるどうかﾁｪｯｸしません   -d ﾃﾞﾊﾞｯｸﾞ･ﾓｰﾄﾞ(処理過程を出力します)"
(MSG_USE_J_BASE+5-1), "-e ｴﾗｰが起きた時、ﾌｧｲﾙを消します(確認しません)"
(MSG_USE_J_BASE+6-1), "-f <filename>  MAKEFILEの代りにﾌｧｲﾙfilenameを処理します('-f -'は標準入力です)"
(MSG_USE_J_BASE+7-1), "-h ﾌﾟﾛｸﾞﾗﾑ･ﾍｯﾀﾞを出力しません             -i ｺﾏﾝﾄﾞが返すｽﾃｰﾀｽを無視します"
(MSG_USE_J_BASE+8-1), "-k ｴﾗｰが起きても続行します                -l <logfile>  ﾛｸﾞ･ﾌｧｲﾙに出力を追加します"
(MSG_USE_J_BASE+9-1), "-m MAKEINIT ﾌｧｲﾙを読みません              -ms microsoft nmake mode"
(MSG_USE_J_BASE+10-1), "-n 実行せずに、ｺﾏﾝﾄﾞを表示します          -o 循環ﾊﾟｽを利用します"
(MSG_USE_J_BASE+11-1), "-p 依存規制、ﾏｸﾛの定義、拡張ｲﾝﾌｫﾒｰｼｮﾝなどを出力します"
(MSG_USE_J_BASE+12-1), "-q 問い合せﾓｰﾄﾞ(ｺﾏﾝﾄﾞを実行しません)      -r ﾃﾞﾌｫﾙﾄ定義を無視します"
(MSG_USE_J_BASE+13-1), "-s ｻｲﾚﾝﾄ･ﾓｰﾄﾞ(ｺﾏﾝﾄﾞを表示しません)        -sn Noisy mode (print all commands)"
(MSG_USE_J_BASE+14-1), "-t ﾌｧｲﾙのﾀｲﾑ･ｽﾀﾝﾌﾟを更新します(ｺﾏﾝﾄﾞを実行しません)"
(MSG_USE_J_BASE+15-1), "-u UNIX互換ﾓｰﾄ"
(MSG_USE_J_BASE+16-1), "-v verbose listing of inline file         -y show why a target will be updated"
(MSG_USE_J_BASE+17-1), "-z ﾌｧｲﾙを消しません(確認しません)"
(MSG_USE_J_BASE+18-1), "macro=text    'macro' の値を 'text' で再定義します"
(MSG_USE_J_BASE+19-1), "target        作成したいﾀｰｹﾞｯﾄを指定します(ﾃﾞﾌｫﾙﾄは一番目のﾀｰｹﾞｯﾄです)"
(MSG_USE_J_BASE+20-1), "."




