(USAGEJ_MSG_BASE+1-1), "Usage: wic [options] filename [[options] [filename] ...]"
(USAGEJ_MSG_BASE+2-1), ""
(USAGEJ_MSG_BASE+3-1), "Options must be preceeded by '-' or '/'.  They may be specified in any order"
(USAGEJ_MSG_BASE+4-1), "but in case of conflict, the rightmost takes precedence. Available options are:"
(USAGEJ_MSG_BASE+5-1), "  -?, -h         Print this message"
(USAGEJ_MSG_BASE+6-1), "  -16            16-bit mode:  Equivalent to \"-I16 -P16\""
(USAGEJ_MSG_BASE+7-1), "  -32            32-bit mode:  Equivalent to \"-I32 -P32\" [DEFAULT]"
(USAGEJ_MSG_BASE+8-1), "  -a             Generate Assembly code"
(USAGEJ_MSG_BASE+9-1), "  -ad            Attach 'D' to the end of every decimal number when"
(USAGEJ_MSG_BASE+10-1), "                 generating assembly code"
(USAGEJ_MSG_BASE+11-1), "  -f             Generate Fortran code [DEFAULT]"
(USAGEJ_MSG_BASE+12-1), "  -F[name]       Use [name] as a separator between field and structure name"
(USAGEJ_MSG_BASE+13-1), "                 [DEFAULT: -F for fortran, -F_FS_ for assembly]"
(USAGEJ_MSG_BASE+14-1), "  -i<paths>      Search <paths> for include files"
(USAGEJ_MSG_BASE+15-1), "  -j             Change char default from unsigned to signed"
(USAGEJ_MSG_BASE+16-1), "  -I<numbits>    Number of bits that an integer has"
(USAGEJ_MSG_BASE+17-1), "  -l<number>     Maximum number of characters allowed on each output line"
(USAGEJ_MSG_BASE+18-1), "                 before the line is continued on next line."
(USAGEJ_MSG_BASE+19-1), "                 [DEFAULT: 72 chars for fortran, 79 for assembly]"
(USAGEJ_MSG_BASE+20-1), "  -p[name]       Use [name] as a prefix to identifiers which conflict with"
(USAGEJ_MSG_BASE+21-1), "                 keywords in target language [DEFAULT: -pWIC_]"
(USAGEJ_MSG_BASE+22-1), "  -P16           Equivalent to \"-Pn16 -Pd16 -Pf32 -Ph32\""
(USAGEJ_MSG_BASE+23-1), "  -P32           Equivalent to \"-Pn32 -Pd32 -Pf32 -Ph48\""
(USAGEJ_MSG_BASE+24-1), "  -P<t><numbits> Specify size of pointer of type <t> in bits. <t> is one of:"
(USAGEJ_MSG_BASE+25-1), "                   n      - Near pointer (example: -Pn32)"
(USAGEJ_MSG_BASE+26-1), "                   d or p - Default type pointer (example: -Pd32)"
(USAGEJ_MSG_BASE+27-1), "                   f      - Far pointer (example: -Pf32)"
(USAGEJ_MSG_BASE+28-1), "                   h      - Huge pointer (example: -Ph48)"
(USAGEJ_MSG_BASE+29-1), "  -s+ (-s-)      Prefix (do not prefix) every field in a structure with"
(USAGEJ_MSG_BASE+30-1), "                 structure name.  If -s- is specified, '-F' is also issued"
(USAGEJ_MSG_BASE+31-1), "         [DEFAULT: -as- for fortran, -as+ for assembler]"
(USAGEJ_MSG_BASE+32-1), "  -s0, -s        Display all error messages"
(USAGEJ_MSG_BASE+33-1), "  -s1            Supress conversion error messages  [DEFAULT]"
(USAGEJ_MSG_BASE+34-1), "  -s2            Supress conversion and reading error messages"
(USAGEJ_MSG_BASE+35-1), "  -s3            Supress conversion, reading and general error messages"
(USAGEJ_MSG_BASE+36-1), "                 NOTE: 'ERR' indicator on status line displays number of"
(USAGEJ_MSG_BASE+37-1), "                 errors that were not output to screen.  All errors are logged"
(USAGEJ_MSG_BASE+38-1), "                 to a file regardless of option specified."
(USAGEJ_MSG_BASE+39-1), ""
(USAGEJ_MSG_BASE+40-1), "<paths> has a form of [drive:]directory[;[drive:]directory]."
(USAGEJ_MSG_BASE+41-1), "<number> is a decimal integer."
(USAGEJ_MSG_BASE+42-1), "<numbits> is the number of bits, one of 16, 32 or 48."
(USAGEJ_MSG_BASE+43-1), "Example: wic os2.h -a -s- -F -pOS2_"
(USAGEJ_MSG_BASE+44-1), "END"
