(MSG_USE_E_BASE+1-1), "Usage:   wd [options] [:symbol_file] [cmd_line]"
(MSG_USE_E_BASE+2-1), ""
(MSG_USE_E_BASE+3-1), "cmd_line is:"
(MSG_USE_E_BASE+4-1), "    executable [arguments]"
(MSG_USE_E_BASE+5-1), ""
(MSG_USE_E_BASE+6-1), "sym_file (optional) is name of file that wd will read symbols from"
(MSG_USE_E_BASE+7-1), ""
(MSG_USE_E_BASE+8-1), "Options are case insensitive, may be shortened to the letters"
(MSG_USE_E_BASE+9-1), "listed in uppercase."
(MSG_USE_E_BASE+10-1), ""
(MSG_USE_E_BASE+11-1), "Options:            ( /option is also supported )"
(MSG_USE_E_BASE+12-1), "-Help               print this usage help"
(MSG_USE_E_BASE+13-1), "-LInes=n            set debugger screen to 'n' lines"
(MSG_USE_E_BASE+14-1), "-COlumns=n          set debugger screen to 'n' columns"
(MSG_USE_E_BASE+15-1), "-DYnamic=n          set initial dynamic memory to 'n' bytes"
(MSG_USE_E_BASE+16-1), "-TRap=file[;arg]    use 'file' as the debugger's trap file and pass it 'arg'"
(MSG_USE_E_BASE+17-1), "-Invoke=file        invoke 'file' as initial debugger setup file"
(MSG_USE_E_BASE+18-1), "-NOInvoke           don't invoke any debugger setup file"
(MSG_USE_E_BASE+19-1), "-NOSYmbols          ignore any symbolic information"
(MSG_USE_E_BASE+20-1), "-NOMouse            ignore any mouse"
(MSG_USE_E_BASE+21-1), "-DIp=file           load specified Debug Information Processor"
(MSG_USE_E_BASE+22-1), "-INItcmd=cmd        process 'cmd' at startup"
(MSG_USE_E_BASE+23-1), "-REMotefiles        files are accessed on the remote machine by default"
(MSG_USE_E_BASE+24-1), "-DOwnload           download executable to the remote machine"
(MSG_USE_E_BASE+25-1), "-LOcalinfo=file     look for symbols in 'file' on local system first"
(MSG_USE_E_BASE+26-1), "-NOExports          do not look for exported symbols in DLLs"
(MSG_USE_E_BASE+27-1), "-DEfersymbols       defer symbol loading"
(MSG_USE_E_BASE+28-1), "-NOSOurcecheck      do not automatically switch to source view when stopping"
(MSG_USE_E_BASE+29-1), "."
