(MSG_USE_E_BASE+1-1), "Usage: wstrip [options] input_file [output_file] [info_file]"
(MSG_USE_E_BASE+2-1), "options:"
(MSG_USE_E_BASE+3-1), "        -q     don't print informational messages"
(MSG_USE_E_BASE+4-1), "        -n     don't print warning messages"
(MSG_USE_E_BASE+5-1), "        -r     process resource information rather than debugging information"
(MSG_USE_E_BASE+6-1), "        -a     add information rather than delete information"
(MSG_USE_E_BASE+7-1), ""
(MSG_USE_E_BASE+8-1), "        input_file:  executable file"
(MSG_USE_E_BASE+9-1), "        output_file: optional output executable or '.'"
(MSG_USE_E_BASE+10-1), "        info_file:   optional output debugging or resource information file"
(MSG_USE_E_BASE+11-1), "                     or input debugging or resource information file"
(MSG_USE_E_BASE+12-1), "."
